@{Layout = Url.Content("~/Views/Shared/_Layout.cshtml");}

@section color{
    <link href="@Url.Content("~/Common/css/edumanager_main.css")" type="text/css" rel="Stylesheet" />
    <link href="@Url.Content("~/Common/css/edumanager_hcc.css")" type="text/css" rel="Stylesheet" />
}

<div id="__layer__"></div>
@RenderBody()