<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="container">
        <!-- //Common Layer -->
        <div id="divCommonLayer"></div>
        <!-- //Common Layer -->

        <!-- PopupLayer -->
        <div id="divPopupLayer"></div>
        <!-- //PopupLayer -->

        @RenderBody()
    </div>


</body>
</html>
