@{Layout = Url.Content("~/Views/Shared/_Layout.cshtml");}
<link href="@Url.Content("~/Common/css/edumanager_hcc.css")" type="text/css" rel="Stylesheet" />
}
<!-- //Common Layer -->
<div id="divCommonLayer"></div>
<!-- //Common Layer -->

<!-- PopupLayer -->
<div id="divPopupLayer"></div>
<!-- //PopupLayer -->
 @RenderBody()